# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# But do not ignore KiCad libraries
!*-cache.lib

# Executables
*.exe
*.out
*.app

# Ignore any backup files.
*~
*.bak
*.~*
*.*-bak
*.000
*.bck
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Ignore kate swap files
*.kate-swp

# Ignore any build directories
build*

# Ignore the code files in AVRTools
AVRTools/*.h
AVRTools/*.cpp
AVRTools/*.S
AVRTools/COPYING
